<html>
<head>
<meta charset="ISO-8859-1" />
<title>Reading List</title>
</head>

<body>
	<h1>Payment Information Page</h1>
	<table>
		<thead>

		</thead>
		<tbody>
			<tr th:each="list: ${paymentList}">

				<br /> Reservation ID:
				<span th:text="${list.reservation.reservationId}" />
				<br /> Amount:
				<span th:text="${list.amount}" />
				<br /> Status
				<span th:text="${list.isConfirm}" />
				<br />Customer ID:
				<span th:text="${list.reservation.person.personId}" />
				<br /> Customer name:
				<span th:text="${list.reservation.person.name}" />
				<br /> Vehicle plate No :
				<span th:text="${list.reservation.vehicle.vehiclePlateNumber}" />
				<br /> Brand :
				<span th:text="${list.reservation.vehicle.brand}" />
				<br /> Type :
				<span th:text="${list.reservation.vehicle.type}" />
				<br /> Model :
				<span th:text="${list.reservation.vehicle.model}" />
				<br />
				<a th:href="@{~/payment/cancel-payment/{id}(id=${list.paymentId})}">Delete</a>&nbsp;&nbsp;
				<a th:href="@{~/payment/update-payment/{id}(id=${list.paymentId})}">Update</a>&nbsp;&nbsp;
				<a th:href="@{~/payment/view-all-payment}">View all Payments</a>

			</tr>

		</tbody>
	</table>
</body>

</html>