<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{../css/bootstrap.css}" rel="stylesheet" media="screen" />
<meta charset="utf-8" />
</head>
<body>
	<h1>Car Registration Form</h1>

	<form th:action="@{add}" method="post" id="addCar">
		<div class="form-group row">
			<label for="CarBrand" id="CarBrand-ariaLabel"> Car Brand :</label> <input
				id="CarBrand" name="brand" type="text" th:field="${vehicle.brand}" />
			<span class='error' th:if="${#fields.hasErrors('vehicle.brand')}"
				th:errors="${vehicle.brand}">Name Error</span>
		</div>
		<div class="form-group row">
			<label for="CarType" id="CarType-ariaLabel">Car Type :</label> <input
				id="CarType" name="type" type="text" th:field="${vehicle.type}" />
			<span class='error' th:if="${#fields.hasErrors('vehicle.type')}"
				th:errors="${vehicle.type}">Name Error</span>
		</div>
		<div class="form-group row">
			<label for="CarModel" id="CarModel-ariaLabel">Car Model :</label> <input
				id="CarModel" name="model" type="number" th:field="${vehicle.model}" />
			<span class='error' th:if="${#fields.hasErrors('vehicle.model')}"
				th:errors="${vehicle.model}">Name Error</span>
		</div>
		<div class="form-group row">
			<label for="PlateNumber" id="PlateNumber-ariaLabel">Plate
				Number :</label> <input id="CarPlateNumber" name="plateNumber" type="text"
				th:field="${vehicle.vehiclePlateNumber}" /> <span class='error'
				th:if="${#fields.hasErrors('vehicle.vehiclePlateNumber')}"
				th:errors="${vehicle.vehiclePlateNumber}">Name Error</span>
		</div>
		<div class="form-group row">
			<label for="NumberOfSeats" id="NumberOfSeats-ariaLabel">Number
				Of Seats :</label> <input id="NumberOfSeats" name="numberOfSeats" min="1"
				step="1" value="2" type="number" th:field="${vehicle.numberOfSeats}" />
			<span class='error'
				th:if="${#fields.hasErrors('vehicle.numberOfSeats')}"
				th:errors="${vehicle.numberOfSeats}">Name Error</span>
		</div>
		<div class="form-group row">
			<label for="DailyPrice" id="DailyPrice-ariaLabel">Daily
				Price:</label> <input id="DailyPrice" name="dailyPrice" type="text"
				th:field="${vehicle.dailyPrice}" /> <span class='error'
				th:if="${#fields.hasErrors('vehicle.dailyPrice')}"
				th:errors="${vehicle.dailyPrice}">Name Error</span>
		</div>
		<div class="form-group row">
			<input type="submit" value="Add Car" />
		</div>
	</form>
</body>
</html>